body {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100%;
    height: 7%;
    background-color: red;
    position: relative;
}
.main {
    width: 100%;
    height: 93%;
    background-color: green;
}
.search {
    height: 100%;
    width: 100%;
}
#search_box {
    height : 100%;
    width: 100%;
    padding: 0px 1%;
    border: none;
    font-size: large;
}
.main .listings {
    width: 25%;
    float: left;
    height: 100%;
    background-color: gray;
}
.listings .results {
    height: 50%;
    overflow: auto;
    border-bottom: 1px white solid;
}
.listings .preferences {
    height: 50%;
}
.result {
    height: 50px;
    padding: 5px;
    background-color: #99a;
    overflow: hidden;
}
.result:hover {
    background-color: #aac;
}
.result > div {
    float: left;
    padding-left: 10px;
}
.result .quality img {
    height: 40px;
    width: 40px;
}
.result .address {
    font-size: 75%;
}

#custom-options {
    height: 100%;
    font-size: 70%;
}
#custom-options input[type=text] {
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block;
}
.main .map {
    width: 75%;
    float: left;
    height: 100%;
}
#loading {
    position: absolute;
    z-index: 1000;
    opacity: .8;
    width: 100%;
    height: 100%;
    display: none;
    background: white;
}
#loading img {
    width: 30%;
    margin: 5% 35%;
}